/* This is the news-container css file*/
.news-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  margin: auto; /* center horizontally */
  margin-top: 20px;
  width: 80%;
  max-width: 1200px;
}

